<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.csiapp1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/csi2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/csi3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SignIn"></activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Event_admin" />
        <activity android:name=".teacher_admin" />
        <activity android:name=".BE_admin" />
        <activity android:name=".TE_admin" />
        <activity android:name=".imageAct" />
        <activity android:name=".SE_admin" />
        <activity android:name=".faculty_incharge" />
        <activity android:name=".BE_council" />
        <activity android:name=".TE_council" />
        <activity android:name=".SE_council" />
        <activity android:name=".Spash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".MyMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>